<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/layout :: head}"></head>
<link href="css/jobdesk/alimentacion/menuSemanal.css" rel="stylesheet"
			th:href="@{/css/jobdesk/alimentacion/menuSemanal.css}">
<body>

	<div th:replace="~{fragments/menu :: menu}"></div>
	<div layout:fragment="content" th:remove="tag">
		<div class="" style="margin: auto;width: 75%;">
			<h2 style="text-align: center;padding: 20px;margin-bottom: 0px;"><span style="
			    border-left: 4px solid #BF0909;
			    margin-right: 10px;"></span>Menú Semanal</h2>
			<div class="row">
				<div class="form-group col-lg-12 my-2">
					<div class="card">
						<div class="card-header col-lg-12"
							style="text-align: -webkit-left; display: flex; align-items: center; background-color: #213343; color: white; background-color: #213343;">
							<i class="fa-solid fa-file-lines"
								style="font-size: 32px; margin-right: 20px;"></i>
							<div>
								<h2 style="text-align: left; margin-bottom: 0px; color: white;">
									<b>Listado de Menú Semanal</b>
								</h2>
							</div>
							
						</div>
						<div class="card-body">
							<div class="row">
								
								<div class="col-lg-1 d-flex align-items-center">
									<label>Año</label>
								</div>
								<div class="col-lg-2 d-flex align-items-center">
									<select id="selectAnio" name="selectAnio"
										class="form-control" onchange="actualizarSemanas()">
										<option th:each="anio : ${listaAnios}"
											th:value="${anio.codigo}" th:text="${anio.codigo}"></option>
									</select>
								</div>
								
								<div class="col-lg-1 d-flex align-items-center">
									<label>Semana</label>
								</div>
								<div class="col-lg-5 d-flex align-items-center">
									<select id="selectSemana" name="selectSemana"
										class="form-control">
										<option th:each="semana : ${listaSemanas}"
											th:value="${semana.codigo}" th:text="${semana.nombre}"></option>
									</select>
								</div>
								<div class="col-lg-2 d-flex align-items-center" style="margin-left: auto;">
									<button id="buscarButton" class="btn btn-info" onclick="listarDias()" title="Buscar Menú">
						                <i class="fas fa-search"></i> Buscar
						            </button>
								</div>			
							</div>
						</div>
					</div>
				</div>
				<div class="form-group col-lg-12 my-2 pr-0">
					<div class="card" style="background-color: transparent;border: none;">
						<div class="card-body p-0">													
							<div id="CtnListaDias" class="form-group col-lg-3 m-0 p-0" style="display: none;">
								<div class="card">
									<div class="card-header col-lg-12" style="text-align: -webkit-left; display: flex; align-items: center; 
										 background-color: #213343; color: white; background-color: #213343;">
										<i class="fa-solid fa-calendar-days" style="font-size: 28px; margin-right: 20px;"></i>
										<div>
											<h4 style="text-align: left; margin-bottom: 0px; color: white;">
												<b>Fecha</b>
											</h4>
										</div>	
									</div>
									<div class="card-body">
									<!-- días de la semana -->	
										<div>
											<ul id="listaDias" class="list-group">
										    <!-- Los días y las fechas se listan aquí -->
											</ul>
										</div>
									<!-- días de la semana -->	
									</div>
								</div>
							</div>	
							
							<div id="CtnListaAlimentos" class="form-group col-lg-9 row pr-0 m-0" style="display: none;">
								<div class="form-group col-lg-12 mb-0">
									<table class="table" style="background-color: white;">
						                <thead style="background-color: #213343">
						                    <tr>
						                        <th style="width: 48%;color:white;">
						                        	<div class="d-flex">
						                        		<i class="fa-solid fa-bread-slice" style="font-size: 28px; margin-right: 20px;"></i> 
						                        		<h4 style="text-align: left; margin-bottom: 0px; color: white;">Desayuno</h4>
						                        	</div>
						                        </th>
										        <th style="width: 12%;text-align: right;color:white;"><b>Prot.</b></th>
										        <th style="width: 12%;text-align: right;color:white;"><b>Líp.</b></th>
										        <th style="width: 12%;text-align: right;color:white;"><b>Carb.</b></th>
										        <th style="width: 12%;text-align: right;color:white;"><b>Cal.</b></th>
						                    </tr>
						                </thead>
						                <tbody id="listaDesayuno">
						                    <!-- Lista de alimentos DESAYUNO -->
						                </tbody>
						                <tfoot>
						                    <tr>
						                        <td></td>
						                        <td id="tProtDesayuno" style="text-align: right;font-size:13px;" class="columna-item"></td>
						                        <td id="tLipDesayuno" style="text-align: right;font-size:13px;" class="columna-item"></td>
						                        <td id="tCarbDesayuno" style="text-align: right;font-size:13px;" class="columna-item"></td>
						                        <td id="tCalDesayuno" style="text-align: right;font-size:13px;" class="columna-item"></td>
						                    </tr>
						                </tfoot>
						            </table>
								</div>
								<div class="form-group col-lg-12 mb-0">
									<table class="table" style="background-color: white;">
						                <thead style="background-color: #213343">
						                    <tr>
						                        <th style="width: 48%;color:white;">
						                        	<div class="d-flex">
						                        		<i class="fa-solid fa-utensils" style="font-size: 28px; margin-right: 20px;"></i> 
						                        		<h4 style="text-align: left; margin-bottom: 0px; color: white;">Almuerzo</h4>
						                        	</div>
						                        </th>
										        <th style="width: 12%;text-align: right;color:white;"><b>Prot.</b></th>
										        <th style="width: 12%;text-align: right;color:white;"><b>Líp.</b></th>
										        <th style="width: 12%;text-align: right;color:white;"><b>Carb.</b></th>
										        <th style="width: 12%;text-align: right;color:white;"><b>Cal.</b></th>
						                    </tr>
						                </thead>
						                <tbody id="listaAlmuerzo">
						                    <!-- Lista de alimentos ALMUERZO -->
						                </tbody>
						                <tfoot>
						                    <tr>
						                        <td></td>
						                        <td id="tProtAlmuerzo" style="text-align: right;font-size:13px;" class="columna-item"></td>
						                        <td id="tLipAlmuerzo" style="text-align: right;font-size:13px;" class="columna-item"></td>
						                        <td id="tCarbAlmuerzo" style="text-align: right;font-size:13px;" class="columna-item"></td>
						                        <td id="tCalAlmuerzo" style="text-align: right;font-size:13px;" class="columna-item"></td>
						                    </tr>
						                </tfoot>
						            </table>
								</div>
								
								<div class="form-group col-lg-12 mb-0">
									<table class="table" style="background-color: white;">
						                <thead style="background-color: #213343">
						                    <tr>
						                        <th style="width: 48%;color:white;">
						                        	<div class="d-flex">
						                        		<i class="fa-solid fa-mug-hot" style="font-size: 28px; margin-right: 20px;"></i> 
						                        		<h4 style="text-align: left; margin-bottom: 0px; color: white;">Cena</h4>
						                        	</div>
						                        </th>
										        <th style="width: 12%;text-align: right;color:white;"><b>Prot.</b></th>
										        <th style="width: 12%;text-align: right;color:white;"><b>Líp.</b></th>
										        <th style="width: 12%;text-align: right;color:white;"><b>Carb.</b></th>
										        <th style="width: 12%;text-align: right;color:white;"><b>Cal.</b></th>
						                    </tr>
						                </thead>
						                <tbody id="listaCena">
						                    <!-- Lista de alimentos CENA -->
						                </tbody>
						                <tfoot>
						                    <tr>
						                        <td></td>
						                        <td id="tProtCena" style="text-align: right;font-size:13px;" class="columna-item"></td>
						                        <td id="tLipCena" style="text-align: right;font-size:13px;" class="columna-item"></td>
						                        <td id="tCarbCena" style="text-align: right;font-size:13px;" class="columna-item"></td>
						                        <td id="tCalCena" style="text-align: right;font-size:13px;" class="columna-item"></td>
						                    </tr>
						                </tfoot>
						            </table>
								</div>
							</div>	
							
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="~{fragments/layout :: footer}"></footer>
	<input type="hidden" name="messageSystem" id="messageSystem" th:value="${messageSystem}">
	<div class="modal fade" id="modalVerFlujos" aria-hidden="true" aria-labelledby="modalVerFlujos" tabindex="-1"></div>
	
	<!-- Modal de carga -->
	<div class="modal" id="modalLoading" data-backdrop="static"
		data-keyboard="false" tabindex="-1"
		style="padding-right: 17px; display: none;" aria-modal="true">
		<div class="modal-dialog modal-sm dialog-loading">
			<div class="modal-content"
				style="width: 48px; background-color: transparent; border: none; margin: auto; margin-bottom: 10px;">
				<span class="loader"></span>
			</div>
			<h3 class="text-center" id="messageModalLoading" style="color: white">Cargando. . .</h3>
		</div>
	</div>
	
	
</body>
<script th:src="@{/js/jobdesk/alimentacion/menuSemanal.js}"> </script>
<script>
$(document).ready(function() {
// 	configuraciones();
	$("#item-jobdesk").addClass("active");
});

</script>
</html>