<html xmlns:th="http://www.thymeleaf.org">

<div class="col-lg-12">
	<form id="formMain" method="POST"
		th:action="@{/alimentacion/notas-alimentos}">
		<input type="hidden" name="message" id="message">
	</form>
	<div class="form-group row">
		<input type="hidden" name="anioSolicitud" id="anioSolicitud" th:value="${notaAlimento.canoAnosol}">
		<input type="hidden" name="tipoDocumentoSolicitud" id="tipoDocumentoSolicitud" th:value="${notaAlimento.cdocTipdoc}">
		<input type="hidden" name="numeroSolicitud" id="numeroSolicitud" th:value="${notaAlimento.csolNumsol}">
		<input type="hidden" name="tipoTransaccion" id="tipoTransaccion" value="EDITAR">
  	</div>
	<div class="form-group row">
		<div class="form-group row col-sm-12 mb-0">
			<div class="form-group row col-sm-7 mb-0">
				<div class="form-group row col-sm-12">
					<label for="txtNumeroSolicitud"
						class="col-sm-2 col-form-label">Estado</label>
					<div class="col-sm-3 d-flex align-items-center">
						<span id="spanEstadoNota" class="badge" th:text="${notaAlimento.estado}" style="font-size: 12px;line-height: 2;color: #fff;background-color: #6366f1;font-weight: 500;"></span>
					</div>
				</div>
			</div>
			<div class="form-group row col-sm-5 mb-0">
				<div class="form-group row col-sm-12">
					<label for="datepicker" class="col-sm-4 col-form-label">Acciones</label>
					<div class="col">
						<button id="btnAnularNota" class="btn btn-xs btn-outline-danger eliminarRacion" data-toggle="modal" data-target="#confirmDeleteModal"
							title="Anular Nota" th:if="${notaAlimento.csolEstado == '01'}">
							<i class="fas fa-trash"></i> Anular
						</button>
						<button id="btnAprobarNota" class="btn btn-xs btn-outline-primary primary-button" data-toggle="modal" data-target="#confirmApproveModal"
							title="Aprobar Nota" th:if="${notaAlimento.csolEstado == '01' and esAprobador == '1'}">
							<i class="fa-solid fa-check"></i> Aprobar
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group row col-sm-12 mb-0">
			<div class="form-group row col-sm-7 mb-0">
				<div class="form-group row col-sm-12">
					<label for="txtNumeroSolicitud"
						class="col-sm-2 col-form-label">Número</label>
					<div class="col-sm-3 d-flex align-items-center">
						<input type="text" class="form-control"
							id="txtNumeroSolicitud" disabled th:value="${notaAlimento.csolNumsol}">
					</div>
					<label for="datepicker"
						class="col-sm-2 col-form-label text-right">Fecha</label>
					<div class="col">
						<input type="date" id="fechaSolicitud" name="fechaSolicitud"
							class="form-control" th:value="${notaAlimento.dsolFecsol}" th:if="${notaAlimento.csolEstado == '01'}" disabled>
						<input type="date" id="fechaSolicitud" name="fechaSolicitud"
							class="form-control" th:value="${notaAlimento.dsolFecsol}" th:if="${notaAlimento.csolEstado != '01'}" disabled>
					</div>
				</div>
				<div class="form-group row col-sm-12">
					<label for="oficinaSolicitud"
						class="col-sm-2 col-form-label">Oficina</label>
					<div class="col">
						<select class="form-control" id="oficinaSolicitud" disabled>
							<option th:each="oficina : ${listaOficinas}"
								th:value="${oficina.codigo}" th:text="${oficina.nombre}" th:selected="${oficina.codigo == notaAlimento.cofiCodofi}"></option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group row col-sm-5 mb-0">
				<div class="form-group row col-sm-12">
					<label for="datepicker" class="col-sm-4 col-form-label">Inicio</label>
					<div class="col">
						<input type="date" id="fechaInicioSolicitud" name="fechaInicioSolicitud"
							class="form-control" th:value="${notaAlimento.dsolFecini}" th:if="${notaAlimento.csolEstado == '01'}">
						<input type="date" id="fechaInicioSolicitud" name="fechaInicioSolicitud"
							class="form-control" th:value="${notaAlimento.dsolFecini}" th:if="${notaAlimento.csolEstado != '01'}" disabled>
					</div>
				</div>
				<div class="form-group row col-sm-12">
					<label for="datepicker" class="col-sm-4 col-form-label">Fin</label>
					<div class="col">
						<input type="date" id="fechaFinSolicitud" name="fechaFinSolicitud"
							class="form-control" th:value="${notaAlimento.dsolFecfin}" th:if="${notaAlimento.csolEstado == '01'}">
						<input type="date" id="fechaFinSolicitud" name="fechaFinSolicitud"
							class="form-control" th:value="${notaAlimento.dsolFecfin}" th:if="${notaAlimento.csolEstado != '01'}" disabled>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group row col-sm-12 mb-0">
			<div class="form-group row col-sm-7 mb-0">
				<div class="form-group row col-sm-12">
					<label for="txtNumeroSolicitud"
						class="col-sm-2 col-form-label">Observ.</label>
					<div class="col d-flex align-items-center">
						<textarea class="form-control"
							id="observacionSolicitud" rows="1" th:field="${notaAlimento.csolObssol}" th:if="${notaAlimento.csolEstado == '01'}"></textarea>
						<textarea class="form-control"
							id="observacionSolicitud" rows="1" th:field="${notaAlimento.csolObssol}" th:if="${notaAlimento.csolEstado != '01'}" disabled></textarea>
					</div>
				</div>
			</div>
			<div class="form-group row col-sm-5 mb-0">
				<div class="form-group row col-sm-12">
					<label for="datepicker" class="col-sm-4 col-form-label">Opciones</label>
					<div class="col">
						<a th:href="${'/siad/alimentacion/notas-alimentos/nuevo/' + notaAlimento.canoAnosol + '-' + notaAlimento.cdocTipdoc + '-' + notaAlimento.csolNumsol}"
							class="btn btn-xs btn-outline-primary purple-button" title="Generar Nueva Nota">
							<i class="fas fa-copy"></i> Copiar
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group row col-sm-12 mb-0">
			<div class="form-group row col-sm-7 mb-0">
				<div class="form-group row col-sm-12">
					<label for="apoyoSolicitud" class="col-sm-2 col-form-label">Apoyo</label>
					<div class="col-sm-2 d-flex align-items-center">
						<input type="checkbox" class="form-control" th:if="${notaAlimento.csolIndapo == '1'}" id="apoyoSolicitud" style="width: 20px;" checked disabled>
					    <input type="checkbox" class="form-control" th:if="${notaAlimento.csolIndapo == '0'}" id="apoyoSolicitud" style="width: 20px;" disabled>
					</div>
					<label for="motivoSolicitud" class="col-sm-2 col-form-label">Motivo</label>
					<div class="col d-flex align-items-center">
						<select class="form-control" id="motivoSolicitud" disabled>
							<option value="">Seleccionar..</option>
							<option th:each="motivo : ${listaMotivos}"
								th:value="${motivo.codigo}" th:text="${motivo.nombre}" th:selected="${motivo.codigo == notaAlimento.ssolMotivo}"></option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group row col-sm-12 mb-0">
			<div class="form-group row col-sm-10 mb-0">
				<div class="form-group row col-sm-12">
					<div class="form-group row col-sm-2">
						<label for="procedenciaSolicitud" class="col-sm-12 col-form-label pr-0" style="font-size:12px;">Procedencia</label>
					</div>
					<div class="form-group row col-sm-10 pl-0">
						<div class="col d-flex align-items-center">
							<textarea class="form-control"
								id="procedenciaSolicitud" rows="1" th:field="${notaAlimento.csolProce}" th:if="${notaAlimento.csolEstado == '01'}"></textarea>
							<textarea class="form-control"
								id="procedenciaSolicitud" rows="1" th:field="${notaAlimento.csolProce}" th:if="${notaAlimento.csolEstado != '01'}" disabled></textarea>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="card" style="border: none">
		<div class="card-header bg-dark text-white col-lg-12 d-flex align-items-center justify-content-between">
			<div style="text-align: -webkit-left">Listado de Raciones</div>
			<button type="button" id="btnModalAgregarRacion"
				th:onclick="verAgregarRacion()" class="btn btn-info"
				role="button" title="Agregar ración" th:if="${notaAlimento.csolEstado == '01'}">
				<i class="fa-solid fa-plus"></i> Agregar
			</button>
		</div>
		<div class="card-body p-0 m-0">
			
			<!-- Tabla de Raciones -->

			<table id="tableRaciones"
				class="table table-hover table-sm-vertical" width="100%">
				<thead class="thead-light">
					<tr>
						<th style="text-align: center;display:none"><b></b></th>
						<th style="text-align: center;display:none"><b></b></th>
						<th class="py-0" style="text-align: center; vertical-align: inherit; height: auto;"><b>Ración</b></th>
						<th th:if="${notaAlimento.csolIndapo == '0'}" class="py-0" style="text-align: center; vertical-align: inherit; height: auto;"><b>Cód. Empl.</b></th>
						<th th:if="${notaAlimento.csolIndapo == '1'}" class="py-0" style="text-align: center; vertical-align: inherit; height: auto;"><b>Cód. Apoyo</b></th>
						<th class="py-0" style="text-align: center; vertical-align: inherit; height: auto;"><b>Apellidos y Nombres</b></th>
						<th class="py-0" style="text-align: center; vertical-align: inherit; height: auto;"><b>Fotocheck</b></th>
						<th class="py-0" style="text-align: center; vertical-align: inherit; height: auto;"><b>Cantidad</b></th>
						<th class="py-0" style="text-align: center; vertical-align: inherit; height: auto;"><b>Observación</b></th>
						<th class="py-0" style="text-align: center; vertical-align: inherit; height: auto;"><b>Opciones</b></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="racion : ${notaAlimento.items}">
						<td style="text-align: center;display:none;" th:text="${racion.nsodItem}"></td>
						<td style="text-align: center;display:none;" th:text="${racion.chorCodtipo}"></td>
						<td style="text-align: center;font-size:13px;" class="py-0" th:text="${racion.descripcionRacion}"></td>
						<td th:if="${notaAlimento.csolIndapo == '0'}" style="text-align: center;font-size:13px;" class="py-0" th:text="${racion.cempCodemp}"></td>
						<td th:if="${notaAlimento.csolIndapo == '1'}" style="text-align: center;font-size:13px;" class="py-0" th:text="${racion.capoCodapo}"></td>
						<td style="text-align: center;font-size:13px;" class="py-0" th:text="${racion.nombres}"></td>
						<td style="text-align: center;font-size:13px;" class="py-0" th:text="${racion.fotocheck}"></td>
						<td style="text-align: center;font-size:13px;" class="py-0" th:text="${racion.nsodCanper}"></td>
						<td style="text-align: center;font-size:13px;" class="py-0" th:text="${racion.csodSodobs}"></td>
						<td style="text-align: center;font-size:12px;">
							<button class="btn btn-xs btn-outline-primary orange-button editarRacion mr-1" title="Editar ración" th:if="${notaAlimento.csolEstado == '01'}">
								<i class="fa-solid fa-pen"></i>
							</button>
							<button class="btn btn-xs btn-outline-danger eliminarRacion" title="Quitar ración" th:if="${notaAlimento.csolEstado == '01'}">
								<i class="fa-solid fa-xmark"></i>
							</button>
						</td>
					</tr>
					
				</tbody>
			</table>

			<!-- Tabla de Raciones -->
		</div>
	</div>


	<div class="mt-5 d-flex justify-content-between">
		<div>
			<a th:href="@{/alimentacion/notas-alimentos}"
			class="btn btn-warning" role="button" title="Regresar"><i
			class="fas fa-arrow-left"></i> Atrás</a>
		</div>
		<div class="d-flex justify-content-end">
			<button id="btnGuardarNotaEditar" type="button" onclick="editarNotaAlimento()"
				title="Guardar cambios" class="btn w3-btn w3-teal"
				style="color: #fff;" th:if="${notaAlimento.csolEstado == '01'}">
				<i class="fa-solid fa-save"></i> Guardar
			</button>
		</div>
		
		
	</div>


</div>